<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}} - PNTEHAN</title>
    <link rel="shortcut icon" type="image/png" href="static/image/title.png" />
    <script language='JavaScript'>
        function baidu(){
            var word = document.getElementById('baidu').values;
            location.href = "https://www.baidu.com.cn/s?wd=" + word + "&cl=3";
        }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligth">
        <a class="navbar-brand" href="/">PNTEHAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
        <a class="nav-link" href="flim_1">电影<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="book_1">书籍<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="music_1">音乐</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="search" method="POST">
                {% if keyword %}
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="{{keyword}}" aria-label="Search">
                {% else %}
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="输入要查找的信息..." aria-label="Search">
                {% endif %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查找</button>
            </form>
            {% if user %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="user" style="color:seagreen">Hello, {{user.Username}}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loginout" style="color:seagreen">退出登录</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="login">登陆</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">注册</a>
            </li>
            </ul>
            {% endif %}
            <form class="form-inline my-2 my-lg-0" action="http://www.baidu.com/baidu" target="_blank">
                <input class="form-control mr-sm-2" type="search" name="word" placeholder="听说你需要百度..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">baidu</button>
            </form>
        </div>
        </nav>
    <br />
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
